build/
.waf-*/

*.pyc
*.tr
*.json

*.swp
zlog-cfg-cur
*.log
*.pcap
*.pdf

contrl
tags
.vscode/
.venv
*.zip

telemetry_*.txt
window_*.png
demo_client.png
fct.txt
pfc.txt
qlen.txt
result.txt

analysis/trace_reader
.lock-waf_linux2_build

.ipynb_checkpoints/

backup/
*copy

*.cache
hook_output/**
__pycache__